@charset "UTF-8";
html {
  font-size: 10px;
  margin-top: 0; }

body {
  font-family: 'Ubuntu', sans-serif; }
  body a {
    color: #1B4D6B; }
  body p, body span {
    color: #263238;
    font-size: 1.6rem; }

h3 {
  text-transform: uppercase; }

h3.vector_link a {
  color: #333333;
  text-decoration: none; }
  h3.vector_link a:hover {
    color: #1B4D6B; }

input, textarea {
  border: 1px solid #e5e5e5;
  padding: 5px 10px;
  border-radius: 15px; }

.form_wrapper {
  border: 1px solid #e5e5e5;
  padding: 20px;
  background: #F0F2F3;
  margin-bottom: 30px; }
  .form_wrapper input, .form_wrapper textarea {
    width: 100%;
    resize: none; }
    .form_wrapper input:focus, .form_wrapper textarea:focus {
      outline: none; }
  .form_wrapper select {
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    border-radius: 15px;
    background: #fff;
    width: 100%;
    cursor: pointer; }
    .form_wrapper select:focus {
      outline: none; }

.btn_custom {
  text-transform: uppercase;
  border: 1px solid #1B4D6B;
  background: #fff;
  color: #1B4D6B;
  margin-bottom: 15px; }
  .btn_custom:hover {
    background: #1B4D6B;
    color: #ffffff; }
  .btn_custom:focus {
    outline: none;
    box-shadow: none; }

.fll {
  float: left; }

.flr {
  float: right; }

.all {
  border-bottom: 1px dashed #1B4D6B; }
  .all:hover {
    text-decoration: none;
    border-bottom: 1px solid #1B4D6B; }

.line_helper {
  height: 1px;
  background: #1B4D6B;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 15px; }

.wpcf7-submit {
  background: #1B4D6B;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600; }

.alignleft {
  float: left;
  margin: 0;
  margin-right: 15px; }

.programm_img {
  max-width: 50%; }

.social {
  position: fixed;
  left: 0;
  top: 45%;
  z-index: 999; }

.mb20 {
  margin-bottom: 20px; }

.popup_wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999; }
  .popup_wrapper .popup {
    width: 550px;
    padding: 30px;
    opacity: 1;
    border: 5px solid #1B4D6B;
    position: absolute;
    top: 30%;
    border-radius: 20px;
    background: #fff; }
  .popup_wrapper .close {
    position: absolute;
    top: -28px;
    right: -30px;
    width: 35px;
    height: 35px;
    color: red;
    opacity: 1;
    padding-top: 2px;
    vertical-align: middle;
    text-align: center;
    line-height: 1;
    border: 5px solid #CCCCCC;
    background: #fff;
    border-radius: 50%;
    transition: all ease 0.5s; }
    .popup_wrapper .close:hover {
      -moz-transform: rotate(180deg);
      /* Для Firefox */
      -ms-transform: rotate(180deg);
      /* Для IE */
      -webkit-transform: rotate(180deg);
      /* Для Safari, Chrome, iOS */
      -o-transform: rotate(180deg);
      /* Для Opera */
      transform: rotate(180deg); }

.home .main_content_wrapper {
  padding-top: 50px; }

.header {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 20px; }
  .header .logo_wrapper {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    min-height: 60px; }
    .header .logo_wrapper img {
      display: inline-block;
      float: left;
      line-height: 1;
      width: 16%; }
    .header .logo_wrapper span {
      width: 84%;
      font-weight: 600;
      color: #1B4D6B;
      padding-left: 20px;
      line-height: 1.1;
      font-size: 18px;
      text-transform: uppercase;
      display: inline-block;
      float: left;
      margin-top: 15px; }
  .header .phone_wrapper {
    margin-top: 20px;
    text-align: right; }
    .header .phone_wrapper span {
      font-size: 25px;
      color: #1B4D6B;
      vertical-align: middle; }

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99; }

.navbar {
  border: 0;
  border-bottom: 5px solid #1B4D6B;
  border-top: 5px solid #1B4D6B; }

.nav > li > a {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  height: 50px;
  padding-top: 10px;
  white-space: nowrap;
  transition: all 0.5s ease;
  border: 5px solid transparent; }
  .nav > li > a:hover, .nav > li > a:focus {
    border: 5px solid #fff;
    background: #1B4D6B; }

.nav > li.active > a {
  background: #1B4D6B; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: #1B4D6B; }

.caret {
  color: #ffffff; }

.dropdown-menu {
  background: #1B4D6B;
  border-radius: 0;
  border: 0;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: 0; }
  .dropdown-menu li {
    margin-bottom: 6px; }
    .dropdown-menu li a {
      color: #fff;
      font-size: 1.5rem; }
      .dropdown-menu li a:hover {
        text-decoration: underline;
        background: transparent;
        color: #ffffff; }
    .dropdown-menu li:last-child {
      border-bottom: 4px solid #BAC7DC;
      padding-bottom: 6px;
      margin-bottom: 0; }

.navbar {
  margin-bottom: 0px; }

.navbar-default {
  background: #19314c;
  border-radius: 0;
  min-height: 60px; }
  .navbar-default .navbar-collapse {
    padding: 0; }

.slider_wrapper .caption_wrapper {
  position: relative; }
.slider_wrapper .carousel-caption.left, .slider_wrapper .carousel-caption.right {
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  max-width: 50%;
  padding: 30px;
  margin-left: 50px;
  padding-bottom: 15px;
  height: auto;
  left: 0;
  top: 0;
  margin-top: 10%;
  text-align: left; }
  .slider_wrapper .carousel-caption.left h2, .slider_wrapper .carousel-caption.right h2 {
    display: block;
    margin: 0;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 4.2rem;
    text-shadow: none;
    margin-bottom: 20px; }
  .slider_wrapper .carousel-caption.left h3, .slider_wrapper .carousel-caption.right h3 {
    display: block;
    margin: 0;
    font-size: 3.4rem;
    color: #ffffff;
    text-shadow: none;
    margin-bottom: 20px;
    text-transform: uppercase; }
.slider_wrapper .carousel-caption.right {
  border-bottom-left-radius: 60px;
  border-top-right-radius: 60px;
  left: 50%; }
.slider_wrapper .carousel-inner > .item {
  height: 540px;
  background-size: cover;
  background-position: 50% 50%; }

.icon_block {
  margin-bottom: 40px; }

.icon_col a {
  text-decoration: none;
  display: block;
  margin: 0 auto; }
.icon_col img {
  display: block;
  margin: 0 auto; }
.icon_col span {
  margin-top: 20px;
  display: block;
  color: #1B4D6B;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500; }

.main_content_wrapper {
  padding-top: 5px;
  background: #f5f5f5;
  background: -moz-linear-gradient(top, #f5f5f5 0%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #f5f5f5 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #f5f5f5 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#ffffff',GradientType=0 ); }

h3.has_border {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #78909c;
  width: 100%; }

.vector_link_wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 5px solid #1B4D6B;
  background: #1B4D6B;
  text-align: center;
  margin-bottom: 20px; }
  .vector_link_wrapper:hover img {
    transform: scale(1.05); }
  .vector_link_wrapper:hover .vector_link {
    text-decoration: underline; }
  .vector_link_wrapper img {
    transition: all ease 0.2s; }
  .vector_link_wrapper .vector_link {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block; }

.news_wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px; }
  .news_wrapper img {
    float: left;
    max-width: 30%; }
  .news_wrapper .title_wrapper {
    color: #1B4D6B;
    line-height: 1;
    padding-left: 20px;
    float: left;
    max-width: 70%; }
    .news_wrapper .title_wrapper .title {
      font-size: 1.4rem;
      color: #1B4D6B; }
    .news_wrapper .title_wrapper .date {
      display: block;
      font-size: 1rem;
      color: #757575; }
  .news_wrapper:hover .title {
    text-decoration: underline; }

.tile_block {
  margin-top: 40px; }
  .tile_block .tile {
    z-index: 1;
    border-radius: 8px;
    position: relative;
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 240px;
    overflow: hidden; }
    .tile_block .tile:hover {
      border-radius: 8px; }
      .tile_block .tile:hover img {
        border-radius: 8px;
        transform: scale(1.1); }
      .tile_block .tile:hover .desc {
        border-radius: 8px; }
    .tile_block .tile img {
      z-index: 0;
      border-radius: 8px;
      transition: all ease 0.2s; }
    .tile_block .tile .desc {
      border-radius: 8px;
      display: inline-block;
      width: 100%;
      height: 100%;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.8rem;
      text-align: center;
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.5);
      vertical-align: middle; }
      .tile_block .tile .desc span {
        display: inline-block;
        margin-top: 100px;
        color: #ffffff;
        padding: 10px 15px;
        border: 3px solid #fff; }

.napr {
  margin-top: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #F0F2F3; }
  .napr li {
    padding-left: 20px;
    padding-right: 20px; }
    .napr li:hover {
      background: #e5e5e5; }
    .napr li a {
      display: inline-block;
      padding-top: 5px;
      padding-bottom: 5px; }

.map {
  padding-top: 40px; }

.banner_row .banners_ul {
  margin-top: 40px; }
  .banner_row .banners_ul li a {
    display: block; }
    .banner_row .banners_ul li a img {
      margin: 0 auto;
      -webkit-filter: grayscale(100%); }
    .banner_row .banners_ul li a:hover img {
      -webkit-filter: grayscale(0%); }

#lightgallery p {
  position: relative;
  overflow: hidden; }
  #lightgallery p a {
    position: relative;
    overflow: hidden;
    max-width: 25%;
    display: inline-block;
    float: left;
    padding-left: 10px;
    padding-right: 10px; }
    #lightgallery p a img {
      width: 100%;
      display: block;
      height: auto; }

#lightgallery_plan a {
  width: 50%;
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  height: 200px; }

.lg-backdrop.in {
  opacity: 0.8; }

.page_gall {
  position: relative;
  overflow: hidden; }
  .page_gall a {
    display: inline-block;
    padding: 3px;
    border: 1px solid #e5e5e5;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left; }
    .page_gall a img {
      border: 0; }

.footer {
  margin-top: 40px;
  background: #3b3d40;
  padding-top: 20px;
  padding-bottom: 20px; }
  .footer p.copyright {
    text-align: center;
    color: #ffffff; }

.sp_wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 30px; }
  .sp_wrapper img {
    float: left;
    margin: 0;
    max-width: 30%;
    margin-bottom: 25px; }
  .sp_wrapper span {
    max-width: 70%;
    padding-left: 20px;
    float: left;
    display: block;
    width: 100%; }
  .sp_wrapper .description_wrapper {
    text-transform: uppercase;
    text-decoration: underline;
    padding-bottom: 5px;
    color: #1B4D6B; }
  .sp_wrapper .in {
    display: inline;
    padding-left: 0;
    float: none;
    font-size: 11px;
    text-decoration: none !important; }
  .sp_wrapper .opw {
    position: relative;
    overflow: hidden;
    max-width: 70%;
    padding-left: 20px;
    float: left;
    display: block;
    width: 100%;
    line-height: 22px; }
    .sp_wrapper .opw .old_price {
      width: auto;
      float: left;
      padding-left: 3px;
      text-decoration: line-through; }
    .sp_wrapper .opw .new_price {
      width: auto;
      float: left;
      padding-left: 3px;
      color: orange; }
    .sp_wrapper .opw .in {
      padding-top: 7px;
      line-height: 11px;
      display: inline;
      vertical-align: bottom;
      width: auto;
      float: left; }

#programm_description {
  padding: 10px;
  background: #0097f5;
  background: -moz-linear-gradient(top, #0097f5 0%, #00438a 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #0097f5), color-stop(100%, #00438a));
  background: -webkit-linear-gradient(top, #0097f5 0%, #00438a 100%);
  background: -o-linear-gradient(top, #0097f5 0%, #00438a 100%);
  background: -ms-linear-gradient(top, #0097f5 0%, #00438a 100%);
  background: linear-gradient(to bottom, #0097f5 0%, #00438a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0097f5', endColorstr='#00438a', GradientType=0 );
  border: 1px solid #1B4D6B;
  margin-bottom: 20px; }
  #programm_description span {
    padding-left: 0;
    font-size: 2.1rem;
    max-width: 100%;
    line-height: 1.3;
    color: #ffffff; }
    #programm_description span a {
      color: #ffffff;
      text-decoration: none;
      border-bottom: 1px dashed #fff; }
  #programm_description .in {
    font-size: 1.3rem;
    padding-right: 5px; }
  #programm_description .new_price {
    color: orange; }

.content {
  padding-top: 20px;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden; }
  .content .tab-content {
    padding-top: 30px; }

.nav-tabs.nav_programm > li > a {
  height: auto;
  color: #1B4D6B;
  border: 1px solid #1B4D6B;
  border-radius: 0; }
  .nav-tabs.nav_programm > li > a:hover {
    color: #1B4D6B;
    background: #fff;
    border: 1px solid #1B4D6B; }

.nav-tabs.nav_programm > li.active a {
  border: 1px solid #1B4D6B;
  background: #1B4D6B;
  color: #ffffff; }
  .nav-tabs.nav_programm > li.active a:hover, .nav-tabs.nav_programm > li.active a:focus {
    border: 1px solid #1B4D6B;
    background: #1B4D6B;
    color: #ffffff; }

.content_news {
  padding-top: 0; }

#conf_table thead tr th {
  font-size: 12px;
  text-transform: uppercase; }
  #conf_table thead tr th:last-child {
    white-space: nowrap; }
#conf_table tbody tr td {
  vertical-align: middle;
  font-weight: bold; }
  #conf_table tbody tr td:first-child {
    white-space: nowrap; }
  #conf_table tbody tr td:last-child a {
    text-decoration: none;
    border-bottom: 1px dashed #1B4D6B; }
#conf_table tbody tr.zav td {
  font-weight: 400; }

@media screen and (max-width: 768px) {
  .social {
    display: none; }

  .header .logo_wrapper span {
    width: 75%;
    margin-top: 0;
    font-size: 15px; }

  .header .phone_wrapper {
    text-align: center; }

  .header .logo_wrapper img {
    width: 25%; }

  .slider_wrapper .carousel-caption.left, .slider_wrapper .carousel-caption.right {
    border-radius: 0; }

  .slider_wrapper .carousel-inner .item {
    height: 240px;
    background-size: cover;
    background-position: 50% 50%; }

  .slider_wrapper .caption_wrapper {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    padding-right: 0; }
    .slider_wrapper .caption_wrapper .col-md-12 {
      padding-right: 0; }

  .slider_wrapper .carousel-caption {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0; }

  .slider_wrapper .carousel-caption.left {
    max-width: 100%;
    left: -10px;
    right: -10px;
    bottom: 0;
    margin-top: 0;
    padding: 10px;
    padding-top: 20px; }

  .slider_wrapper .carousel-caption.right {
    max-width: 100%;
    left: -10px;
    right: -10px;
    bottom: 0;
    margin-top: 0;
    padding: 10px;
    padding-top: 20px; }

  .slider_wrapper .carousel-caption.left h2, .slider_wrapper .carousel-caption.right h2 {
    font-size: 2rem; }

  .slider_wrapper .carousel-caption.left h3, .slider_wrapper .carousel-caption.right h3 {
    font-size: 1.7rem; }

  .icon_col span {
    font-size: 1rem; }

  .tile_block .tile img {
    height: 100%; }

  .tile_block .tile .desc span {
    margin-right: 10px;
    margin-left: 10px; }

  .sp_wrapper img {
    max-width: 100%; }

  .sp_wrapper span, .sp_wrapper .opw {
    max-width: 100%;
    padding-left: 0; }

  #programm_description {
    padding: 0;
    background: 0;
    border: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5; }

  .popup {
    max-width: 90%;
    left: 5%; }
    .popup input {
      max-width: 100%; } }
@media screen and (max-width: 320px) {
  .icon_col span {
    font-size: 9px; }

  .icon_col:first-child span {
    text-align: left; }
  .icon_col:last-child span {
    text-align: right; } }

/*# sourceMappingURL=style.css.map */
